<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P_0000_关.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,100}}</string>
                <key>sourceSize</key>
                <string>{277,100}</string>
            </dict>
            <key>P_0001_开.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{277,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,100}}</string>
                <key>sourceSize</key>
                <string>{277,100}</string>
            </dict>
            <key>P_0002_音效：-.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{296,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,95}}</string>
                <key>sourceSize</key>
                <string>{296,95}</string>
            </dict>
            <key>P_0003_音乐：.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{295,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,98}}</string>
                <key>sourceSize</key>
                <string>{295,98}</string>
            </dict>
            <key>P_0004_更换账号.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{233,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,100}}</string>
                <key>sourceSize</key>
                <string>{233,100}</string>
            </dict>
            <key>P_0005_设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{1337,853}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1337,853}}</string>
                <key>sourceSize</key>
                <string>{1337,853}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3673fe134b111d9bde5c9e45e3cf678$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
