<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Games/SCMJ/GameScene/res/headbox2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,84},{89,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,100}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/jiesanfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,182},{123,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,33}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/kuaijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,283},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/mingzidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,77},{89,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,24}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/playerInfoUI_headbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,77},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/shuzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,225},{279,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,37}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/toumingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{356,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,114}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/touxiangdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,175},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/lazhuang_num.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,253},{65,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,28}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,84},{96,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,97}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{354,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,81}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/liaotian.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,225},{173,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,65}</string>
			</dict>
			<key>Games/SCMJ/GameScene/res/roomditu.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,84},{148,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,36}</string>
			</dict>
			<key>Games/SCMJ/Common/fuzhifanghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1},{222,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,74}</string>
			</dict>
			<key>Games/SCMJ/Common/info-backgrond.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,182},{155,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,33}</string>
			</dict>
			<key>Games/SCMJ/Common/jiesan.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,207},{117,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,32}</string>
			</dict>
			<key>Games/SCMJ/Common/Button_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{222,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,74}</string>
			</dict>
			<key>Games/SCMJ/Common/game_zhama_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,84},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>Games/SCMJ/Common/yaoqingweixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,77},{198,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,66}</string>
			</dict>
			<key>Games/SCMJ/Common/xh_wifi.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,168},{17,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,55}</string>
			</dict>
			<key>Games/SCMJ/Common/leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,234},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist_res.png</string>
			<key>realTextureFileName</key>
			<string>Plist_res.png</string>
			<key>size</key>
			<string>{1018,505}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>505</integer>
		</dict>
	</dict>
</plist>